.dialog[data-v-2d1813a9] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-1[data-v-2d1813a9] {
  width: 7.52rem;
}

.register[data-v-47ce8dfa] {
  background: #fff;
  height: 100%;
}
.register .content[data-v-47ce8dfa] {
  overflow-y: auto;
  height: calc(100% - 1.6rem);
  padding-bottom: 0.26667rem;
  -webkit-overflow-scrolling: touch;
}
.user-wrap[data-v-47ce8dfa] {
  padding-top: 1.70667rem;
  position: relative;
}
.user-wrap[data-v-47ce8dfa]::before {
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 4.66667rem;
  z-index: 0;
  background: linear-gradient(60deg, #fb6f31, #ff9d32);
  position: absolute;
}
.user-info[data-v-47ce8dfa] {
  width: 9.12rem;
  height: 3.73333rem;
  z-index: 1;
  margin: 0 auto;
  background: #fff;
  position: relative;
  box-shadow: 0 0.05333rem 0.10667rem 0 rgba(209, 209, 209, 0.5);
  border-radius: 0.21333rem;
}
.user-info .game-auth[data-v-47ce8dfa] {
  padding-left: 0.66667rem;
  display: flex;
  justify-content: flex-start;
}
.user-info .game-auth .head[data-v-47ce8dfa] {
  width: 2.26667rem;
  height: 2.26667rem;
  margin-top: -0.74667rem;
  background: #d8d8d8;
  border-radius: 0.21333rem;
  overflow: hidden;
}
.user-info .game-record[data-v-47ce8dfa] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-info .game-record .line[data-v-47ce8dfa] {
  width: 0.02667rem;
  height: 0.96rem;
  background: #d8d8d8;
}
.user-info .auth-security[data-v-47ce8dfa] {
  padding-left: 0.32rem;
}
.user-info .auth-security .name[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.42667rem;
  padding: 0.26667rem 0 0.16rem;
  text-align: left;
}
.user-info .auth-security .security[data-v-47ce8dfa] {
  display: flex;
  justify-content: flex-start;
}
.user-info .auth-security .security span[data-v-47ce8dfa] {
  color: #999;
  font-size: 0.34667rem;
  display: inline-flex;
  align-items: center;
  margin-right: 0.42667rem;
}
.user-info .auth-security .security span .icon[data-v-47ce8dfa] {
  width: 0.45333rem;
  height: 0.45333rem;
  margin-right: 0.16rem;
}
.user-info .game-record-item[data-v-47ce8dfa] {
  width: 4.53333rem;
  padding: 0.42667rem 0;
  text-align: center;
}
.user-info .game-record-item .word[data-v-47ce8dfa] {
  height: 0.98667rem;
  color: #333;
  font-size: 0.66667rem;
}
.user-info .game-record-item .tip[data-v-47ce8dfa] {
  color: #999;
  font-size: 0.34667rem;
  padding-top: 0.05333rem;
  white-space: nowrap;
}
.user-info .game-record-item.no-register .word[data-v-47ce8dfa] {
  color: #fe4974;
}
.register-step-img[data-v-47ce8dfa] {
  width: 9.12rem;
  z-index: 1;
  margin: 0.26667rem auto;
  position: relative;
}
.register-strategy-wrap[data-v-47ce8dfa] {
  padding: 0 0.42667rem;
}
.register-strategy-wrap .label-title[data-v-47ce8dfa] {
  padding: 0.48rem 0 0.32rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register-strategy-wrap .label-title .name[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.50667rem;
}
.register-strategy-wrap .label-title .refresh[data-v-47ce8dfa] {
  color: #ff9532;
  font-size: 0.34667rem;
  display: flex;
  align-items: center;
}
.register-strategy-wrap .label-title .refresh[data-v-47ce8dfa] .van-icon {
  margin-right: 0.10667rem;
}
.register-strategy[data-v-47ce8dfa] {
  background: #f8f8f8;
  border-radius: 0.21333rem;
}
.register-strategy .device-wrap[data-v-47ce8dfa] {
  height: 1.49333rem;
  background: #eee;
  border-top-left-radius: 0.21333rem;
  border-top-right-radius: 0.21333rem;
}
.register-strategy .device-wrap .label-tip[data-v-47ce8dfa] {
  width: 4.53333rem;
  height: 0;
  color: #fff;
  font-size: 0.34667rem;
  line-height: 1;
  margin: 0 auto;
  position: relative;
  border-top: 0.64rem solid #fe8e32;
  border-right: 0.42667rem solid transparent;
  border-left: 0.42667rem solid transparent;
}
.register-strategy .device-wrap .label-tip span[data-v-47ce8dfa] {
  top: -0.64rem;
  left: 50%;
  width: 100%;
  height: 0.64rem;
  position: absolute;
  transform: translateX(-50%);
}
.register-strategy .device-wrap .label-device[data-v-47ce8dfa] {
  padding: 0.05333rem 0.53333rem 0;
  display: flex;
  justify-content: space-between;
}
.register-strategy .device-wrap .label-device .num[data-v-47ce8dfa] {
  width: 5.86667rem;
  color: #666;
  font-size: 0.34667rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.register-strategy .device-wrap .label-device .btn[data-v-47ce8dfa] {
  width: 1.30667rem;
  height: 0.56rem;
  color: #ff455f;
  font-size: 0.34667rem;
  border-radius: 0.10667rem;
  border: 0.02667rem solid #ff455f;
}
.register-strategy .device-wrap .label-device .btn.copy[data-v-47ce8dfa] {
  color: #fe8e32;
  border-width: 0;
}
.register-strategy .prompt-title[data-v-47ce8dfa] {
  color: #fe8e32;
  font-size: 0.50667rem;
  padding: 1.06667rem 0 0.66667rem;
  text-align: center;
}
.register-strategy .go-register-btn[data-v-47ce8dfa] {
  width: 5.94667rem;
  height: 1.01333rem;
  color: #fff;
  font-size: 0.50667rem;
  margin: 0 auto;
  background: linear-gradient(180deg, #ffa14d, #ff7300);
  border-radius: 0.50667rem;
}
.register-strategy .label-step-tip[data-v-47ce8dfa] {
  padding: 0.53333rem 0.53333rem 0;
}
.register-strategy .label-step-tip .raider[data-v-47ce8dfa] {
  color: #fe8e32;
  font-size: 0.29333rem;
  padding: 0.10667rem 0 0.26667rem;
  text-align: center;
}
.register-strategy .label-step-tip p[data-v-47ce8dfa],
.register-strategy .label-step-tip ul li[data-v-47ce8dfa] {
  color: #999;
  font-size: 0.29333rem;
  text-align: left;
}
.register-strategy .label-step-tip p span[data-v-47ce8dfa],
.register-strategy .label-step-tip ul li span[data-v-47ce8dfa] {
  color: #fe8e32;
  display: inline-block;
}
.register-strategy .label-step-tip p i[data-v-47ce8dfa],
.register-strategy .label-step-tip ul li i[data-v-47ce8dfa] {
  font-style: normal;
  display: inline-block;
}
.reward-wrap[data-v-47ce8dfa] {
  width: 7.81333rem;
  padding: 0.66667rem 0.53333rem 0;
  background: #f7f7f7;
  border-radius: 0.21333rem;
}
.reward-wrap li[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.4rem;
  line-height: 0.85333rem;
  text-align: justify;
}
.reward-wrap li.active[data-v-47ce8dfa] {
  color: #fb6f31;
}
.reward-wrap li span[data-v-47ce8dfa] {
  color: #333;
  display: inline-block;
}
.reward-wrap .total-reward[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.4rem;
  font-weight: bold;
  line-height: 1.76rem;
  margin-top: 0.45333rem;
  border-top: 0.02667rem solid #e7e7e7;
}
.reward-wrap .total-reward span[data-v-47ce8dfa] {
  color: #fb6f31;
  display: inline-block;
}
.register-record-wrap[data-v-47ce8dfa] {
  padding: 0 0.42667rem;
}
.register-record-wrap .title[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.50667rem;
  padding: 0.42667rem 0 0.16rem;
  text-align: left;
}
.register-record[data-v-47ce8dfa] {
  width: 8.48rem;
  padding: 0.8rem 0.32rem 0;
  background: #fff;
  box-shadow: 0 0.05333rem 0.10667rem 0 rgba(209, 209, 209, 0.5);
  border-radius: 0.21333rem;
}
.register-record .record-process .line[data-v-47ce8dfa] {
  width: 8.45333rem;
  height: 0.34667rem;
  background: #fff4ed;
  border-radius: 0.29333rem;
  position: relative;
}
.register-record .record-process .line[data-v-47ce8dfa]::after {
  content: '';
  left: 0;
  bottom: 0;
  width: 33.3%;
  height: 0.34667rem;
  z-index: 0;
  position: absolute;
  border-radius: 0.29333rem;
  background: linear-gradient(90deg, #ff445f, #ffa64b);
}
.register-record .record-process .label[data-v-47ce8dfa] {
  padding: 0.21333rem 0 0.37333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register-record .record-process .label .current[data-v-47ce8dfa] {
  color: #ff831b;
  font-size: 0.34667rem;
}
.register-record .record-process .label .refresh[data-v-47ce8dfa] {
  color: #ff9532;
  font-size: 0.34667rem;
  display: flex;
  align-items: center;
}
.register-record .record-process .label .refresh[data-v-47ce8dfa] .van-icon {
  margin-right: 0.10667rem;
}
.charge-trial[data-v-47ce8dfa] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.charge-trial .line[data-v-47ce8dfa] {
  width: 0.02667rem;
  height: 0.96rem;
  background: #d8d8d8;
}
.charge-trial.fixed[data-v-47ce8dfa] {
  top: 2rem;
  left: 0.74667rem;
  width: 8.48rem;
  position: fixed;
  background: #fff;
}
.charge-trial-item[data-v-47ce8dfa] {
  width: 4.53333rem;
  padding: 0.05333rem 0 0.21333rem;
  text-align: center;
}
.charge-trial-item .word[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.50667rem;
}
.charge-trial-item .tip[data-v-47ce8dfa] {
  color: #999;
  font-size: 0.34667rem;
  padding-top: 0.10667rem;
  white-space: nowrap;
}
.charge-trial-item.active .word[data-v-47ce8dfa],
.charge-trial-item.active .tip[data-v-47ce8dfa] {
  color: #ff831b;
}
.coupon-wrap .coupon-title[data-v-47ce8dfa] {
  width: 1.25333rem;
  height: 0.53333rem;
  color: #fff;
  font-size: 0.34667rem;
  background: #ff8824;
}
.coupon-list[data-v-47ce8dfa] {
  padding: 0.69333rem 0 0.42667rem;
}
.coupon-list .total-record[data-v-47ce8dfa] {
  padding-left: 0.53333rem;
  background: #ffd8b8;
  border-top-left-radius: 0.26667rem;
  border-top-right-radius: 0.26667rem;
}
.coupon-list .total-record span[data-v-47ce8dfa] {
  height: 1.06667rem;
  color: #ff8824;
  font-size: 0.34667rem;
  justify-content: flex-start;
}
.coupon-list-item[data-v-47ce8dfa] {
  margin-bottom: 0.32rem;
  background: #fff;
  text-align: left;
}
.coupon-list-item .coupon-detail[data-v-47ce8dfa] {
  overflow: hidden;
  padding-left: 0.66667rem;
  border-radius: 0.26667rem;
  position: relative;
  border: 0.02667rem solid #666;
}
.coupon-list-item .coupon-detail .num[data-v-47ce8dfa] {
  top: 0;
  left: 0;
  width: 1.06667rem;
  height: 0.64rem;
  color: #fff;
  font-size: 0.34667rem;
  position: absolute;
  border-top-right-radius: 0.32rem;
  border-bottom-right-radius: 0.32rem;
  background: linear-gradient(180deg, #ffa14d, #ff7300);
}
.coupon-list-item .coupon-detail .amount[data-v-47ce8dfa] {
  color: #666;
  font-size: 0.45333rem;
  padding: 0.85333rem 0 0.21333rem;
}
.coupon-list-item .coupon-detail .tip[data-v-47ce8dfa] {
  color: #999;
  font-size: 0.34667rem;
  padding-bottom: 0.42667rem;
}
.coupon-list-item.active .coupon-detail[data-v-47ce8dfa] {
  border-color: #ffe9d6;
  background: #ffe9d6;
  border-radius: 0.26667rem;
}
.coupon-list-item.first .coupon-detail[data-v-47ce8dfa] {
  border-top-color: #fff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.coupon-list-item.first.active .coupon-detail[data-v-47ce8dfa] {
  border-top-color: #ffe9d6;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.coupon-list-item[data-v-47ce8dfa]:last-child {
  margin-bottom: 0;
}
.register-service[data-v-47ce8dfa] {
  background: #fff;
  display: flex;
  justify-content: flex-start;
}
.register-service .service[data-v-47ce8dfa] {
  width: calc(100% - 7.78667rem);
  padding: 0.16rem 0 0.05333rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.register-service .service .img[data-v-47ce8dfa] {
  width: 0.66667rem;
  height: 0.66667rem;
  display: block;
}
.register-service .service .word[data-v-47ce8dfa] {
  color: #333;
  font-size: 0.26667rem;
  display: block;
  transform: scale(0.83);
}
.register-service .btn[data-v-47ce8dfa] {
  width: 7.78667rem;
  height: 1.33333rem;
  overflow: hidden;
  border-radius: 0.21333rem;
}
.register-service .btn span[data-v-47ce8dfa] {
  width: 100%;
  height: 1.33333rem;
  color: #fff;
  font-size: 0.50667rem;
  z-index: 1;
  position: relative;
  background: linear-gradient(90deg, #fdc8a9, #fec9aa);
}
.register-service .btn span.active[data-v-47ce8dfa] {
  background: linear-gradient(180deg, #ffa14d, #ff7300);
}
.register-service .btn i.progress[data-v-47ce8dfa] {
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.33333rem;
  z-index: -1;
  border-radius: 0.21333rem;
  position: absolute;
  background: linear-gradient(180deg, #ffa14d, #ff7300);
}

