.goodslist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 .4rem #f4f4f4 inset;
}

.goods-item {
  width: 50%;
  height: 200px;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 0 10px 20px #eee;
  overflow: hidden;
  animation: fadeIn 1s;
  background: #ccc;
}